/*##########################################################*/
/*HEADER*/



.full-header {
    height: 80vh;
    width: 100%;
    background-color: #1f2937;
}

.top-header {
    display: flex;
    padding: 30px 60px;
    justify-content: space-between;
    flex: 1;
    margin-bottom: 40px;
}

.left-icon ul li {
    font-size: 24px;
    color: #f9faf8;
}

.right-links {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

ul {
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    padding-left: 0px;
    display: flex;
}

a {
    text-decoration: none;
    color: #e5e7eb;
    padding: 15px;
}

.bottom-header {
    display: flex;
    justify-content: space-between;
}

.bottom-left {
    display: flex;
    margin-left: 30vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: #f9faf8;
}

.hero-text {
    width: 50vh;
    padding: 15px;
}

.hero-title {
    font-size: 48px;
    font-weight: 900;
    margin-top: 0;
    margin-bottom: 15px;
}

.hero-subtext {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    background-color: #3882f6;
    text-align: center;
    color: white;
    border-radius: 5px;
    border: 0px;
    width: 10vh;
    height: 3vh;
}

.bottom-right {
    display: flex;
    justify-content: center;
    margin-right: 30vh;
}

.image-placeholder {
    padding: 12px;
    margin-right: 40px;
}

/*####################################################################*/
/* ARROW IMAGES SVG */

.svg {
    width: 10vh;
    height: 10vh;
    margin-bottom: 5vh;
}

.title {
    font-size: 36px;
    font-weight: 900;
    font-family: "Courier New", Courier, monospace;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    display: flex;
    justify-content: center;
}

.info {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    text-align: center;
    font-family: "Courier New", Courier, monospace;
    margin-bottom: 10vh;
}

/*####################################################################*/
/* QUOTE FROM THOR */

.quote-container {
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
}

.quote-text {
    margin: 10vh;
    color: #1f2937;
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.author {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

/*####################################################################*/
/* BLUE BOX */

.blue-box {
    display: flex;
    justify-content: center;
    margin: 15vh;
}

.blue-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #3882f6;
    border-radius: 10px;
}

.blue-content {
    flex: 1;
    margin-left: 5vh;
    font-size: 20px;
    color: #e5e7eb;
    margin-bottom: 5px;
}

.blue-subtext {
    font-size: 16px;
    margin-top: 0;
}

.blue-button {
    padding: 10px 20px;
    background-color: #3882f6;
    color: #1f2937;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10vh;
    margin-right: 5vh;
    border: 2px solid #1f2937;
}

/*####################################################################*/
/* FOOTER */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
}

.copyright {
    color: #e5e7eb;
    font-size: 16px;
    text-align: center;
}

/* I'll come back here when I'm done with the course and refactor the whole thing
I want to customize the website more...a lot more */